<% content_for :title, "Stations" %>

<div class="w-full">
  <%= render "layouts/flash" %>


  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Stations</h1>
    <%= link_to "New station", new_station_path, class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white block font-medium" %>
  </div>

  <h2>Import Stations from CSV</h2>
  <%= form_with url: import_stations_path, local: true, multipart: true do |form| %>
    <%= form.file_field :file, required: true %>
    <%= form.submit "Import CSV", class: "btn" %>
  <% end %>

  <div id="stations" class="min-w-full divide-y divide-gray-200 space-y-5">
    <% if @stations.any? %>
      <% @stations.each do |station| %>
        <div class="flex flex-col sm:flex-row justify-between items-center pb-5 sm:pb-0">
          <%= render station %>
          <div class="w-full sm:w-auto flex flex-col sm:flex-row space-x-2 space-y-2">
            <%= link_to "Show", station, class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
            <%= link_to "Edit", edit_station_path(station), class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
            <%= button_to "Destroy", station, method: :delete, class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 text-white bg-red-600 hover:bg-red-500 font-medium cursor-pointer", data: { turbo_confirm: "Are you sure?" } %>
          </div>
        </div>
      <% end %>
    <% else %>
      <p class="text-center my-10">No stations found.</p>
    <% end %>
  </div>
</div>
