<!DOCTYPE html>
<html>
<head>
  <title>StatMon</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
    <%= javascript_importmap_tags %>

</head>
<body class="bg-gray-50 font-sans text-gray-800">
  <div class="flex">
    <%= render 'layouts/sidebar' %>
    <main class="flex-1 p-6">
      <%= yield %>
    </main>
  </div>
  <footer class="bg-gray-800 text-white py-4 mt-8">
    <div class="max-w-6xl mx-auto px-4 text-center">
      <p>&copy; <%= Time.current.year %> StatMon. All rights reserved.</p>
    </div>
  </footer>
</body>
</html>
